.question-true-false {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f2fff2;
  }
  
  .question-true-false h3 {
    margin-top: 0;
  }
  
  .question-true-false .question-text {
    margin-bottom: 0.8rem;
  }
  
  .question-true-false .feedback {
    margin-top: 0.8rem;
    color: #666;
    font-size: 0.9rem;
    display: none;
  }
  
  input[type=radio]{
    width: 20px;
    height: 20px;
  }